<% layout("/layouts/boilerplate")-%>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Community Hub</title>
  </head>

  <body>
    <!-- Header -->
    <header class="header">
      <div class="container header__container">
        <div class="header__left">
          <h1>Welcome to the Community Manager</h1>
          <p>
            Empowering Community Engagement Through Technology<br />
            and transforming community engagement with unified communities
            platform.
          </p>
          <a href="/community" class="btn btn-primary">Join Now</a>
        </div>
        <div class="header__right">
          <img src="community.jpg" alt="Community Image" />
        </div>
      </div>
    </header>

    <!-- Categories -->
    <section class="categories">
      <div class="container categories_container">
        <div class="categories_left">
          <h1>About</h1>
          <p>
            Our Neighborhood Security Hub is dedicated to fostering a safer
            environment for all residents. Through our platform, you can quickly
            report any suspicious activities or security incidents in your
            neighborhood, receive safety alerts, and participate in community
            discussions to address security concerns collaboratively.
          </p>
          <a href="https://github.com/YadlaMani/CM" class="btn btn-info"
            >Learn More</a
          >
        </div>
        <div class="categories_right">
          <article class="category">
            <span class="category_icon"
              ><i class="uil uil-bitcoin-circle"></i
            ></span>
            <h5>Notification System</h5>
            <p>
              Receive timely alerts about important updates and events, keeping
              you informed and connected with your community.
            </p>
          </article>
          <article class="category">
            <span class="category_icon"><i class="uil uil-palette"></i></span>
            <h5>Community Creation</h5>
            <p>
              Easily form or join communities based on shared interests or
              neighborhoods, fostering a sense of belonging and collaboration.
            </p>
          </article>
          <article class="category">
            <span class="category_icon"
              ><i class="uil uil-usd-circle"></i
            ></span>
            <h5>Chat Feature</h5>
            <p>
              Engage in real-time conversations with fellow residents,
              facilitating seamless communication and coordination within the
              community.
            </p>
          </article>
          <article class="category">
            <span class="category_icon"><i class="uil uil-megaphone"></i></span>
            <h5>Review System</h5>
            <p>
              Share feedback and experiences to improve community services and
              safety, contributing to a better neighborhood experience for all.
            </p>
          </article>
          <article class="category">
            <span class="category_icon"><i class="uil uil-music"></i></span>
            <h5>Rent Status</h5>
            <p>
              Stay organized with rent payments and housing updates, ensuring
              smooth communication between residents and property managers.
            </p>
          </article>
          <article class="category">
            <span class="category_icon"
              ><i class="uil uil-puzzle-piece"></i
            ></span>
            <h5>Resident Information</h5>
            <p>
              Access essential resident details and neighborhood demographics,
              promoting transparency and community engagement.
            </p>
          </article>
        </div>
      </div>
    </section>

    <!-- Testimonials -->
    <section class="testimonial">
      <div class="container testimonial__container">
        <h2>What Our Members Say</h2>
        <div class="swiper-container testimonial__swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="testimonial__content">
                <p>
                  "Being able to connect with neighbors through the chat feature
                  has made me feel more connected to my community. It's great to
                  have a platform where we can easily communicate and
                  coordinate"
                </p>
                <h5>John Doe</h5>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="testimonial__content">
                <p>
                  "I appreciate the transparency provided by the resident
                  information feature. It's helpful to know who my neighbors are
                  and have access to important neighborhood demographics."
                </p>
                <h5>Jane Smith</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- JavaScript
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script src="/js/main.js"></script> -->
  </body>
</html>
